.left {
    text-align: left;
}
.tag {
    color:black;
    display:inline-block;
    padding: 3px 6px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    vertical-align:middle;
    border-radius: 2px;
    margin-left:3px;
    margin-top:5px;
}
.beginner { background-color: #C7DCB9; }
.intermediate { background-color: #aac2a0; }
.expert { background-color: #66A590; }
.mahayana { background-color: palegoldenrod; }
.theravada { background-color: #edb757; }
.zen { background-color: tomato; }
.yoga { background-color: lightslategray; }

.day-name {
    text-decoration: underline;
    font-size: 20px;
    font-weight:400;
}
.day-events {
    margin-left:10px;
}

.event-li {
    margin-top:5px;
    margin-bottom:10px;
}

.rate-title {
    text-align: center;
    font-size: 40px;
    font-weight:400;
    margin-top: 70px;
    margin-bottom:20px;
}
.event-rating {
    text-align: center;
    font-size: 50px;
    color:tomato;
    height:40%;
    display:inline-flex;
}
.rating-stars{
    text-align: center;
    display:block;
    margin:auto;
}

/* CSS for new_event (taken from "new message" onsen UI)*/

.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

.textarea {
  margin-top: 4px;
}

