.left {
    text-align: left;
}
.tag {
    color:black;
    display:inline-block;
    padding: 3px 6px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    vertical-align:middle;
    border-radius: 2px;
    margin-left:3px;
    margin-top:5px;
}
.beginner { background-color: #C7DCB9; }
.intermediate { background-color: #aac2a0; }
.expert { background-color: #66A590; }
.mahayana { background-color: palegoldenrod; }
.theravada { background-color: #edb757; }
.zen { background-color: tomato; }
.yoga { background-color: lightslategray; }


