<ons-page>
<ons-toolbar>
<div class="center">
    Events In Your City
</div>
<div class="right">
    <ons-toolbar-button ng-click="myNavigator.pushPage('new_event.html')">
    <ons-icon id="create-event" icon="fa-plus" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
    </ons-toolbar-button>
</div>
</ons-toolbar>

<div ng-init="days = [
    'Monday',
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday',
    'Sunday'] ">

    <div class="day-events">
        <ons-list class="timeline">
        <ons-list-item class="timeline-li" ng-repeat="day in days">

        <div class="day-name"> {{ day }}</div>
        <div class="event-li" ng-click="myNavigator.pushPage('event_details.html')">
            <ons-row>
            <div class="timeline-from">
                <span class="timeline-name">Sitting At Melissa's</span>
                <span class="timeline-id">@melissa</span>
            </div>
            </ons-row>
            <div class="event-tags">
                <div class="tag beginner">sitting</div>
                <div class="tag intermediate">informal</div>
                <div class="tag expert">small</div>
            </div>
        </div>
        <div class="event-li" ng-click="myNavigator.pushPage('event_details.html')">
            <ons-row>
            <div class="timline-from">
                <span class="timeline-name">ISCS 2014</span>
                <span class="timeline-id">@iscs</span>
            </div>
            </ons-row>
            <div class="event-tags">
                <div class="tag mahayana">conference</div>
                <div class="tag zen">large</div>
            </div>
        </div>
        </ons-list-item>
        </ons-list>
    </div>
    </ons-page>
